body {
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  background-color: #F4EEFF;
}

#title .container-fluid {
  padding: 0 0;
}

nav {
  font-family: 'play', sans-serif;
  font-weight: 700;
  background-color: #1B262C;
}

#SINGLEROOMS {
  text-align: center;
  padding: 3% 0 1% 0;
}

#DOUBLEROOMS {
  text-align: center;
  padding: 1% 0;
}

#TRIPLEROOMS {
  text-align: center;
  padding: 1% 0;
}

#QUEENROOMS {
  text-align: center;
  padding: 1% 0;
}

#KINGROOMS {
  text-align: center;
  padding: 1% 0;
}

#TWINROOMS {
  text-align: center;
  padding: 1% 0;
}

#DOUBLEDOUBLE {
  text-align: center;
  padding: 1% 0;
}

#QUADROOMS {
  text-align: center;
  padding: 1% 0;
}

#LANAIROOMS {
  text-align: center;
  padding: 1% 0;
}

.btn {
  font-family: 'montserrat', sans-serif;
  color: #000000;
  font-weight: 600;
}

.card {
  background-color: #F4EEFF;
}

img {
  height: 250px;
}

.cpu {
  padding: 11%;
}

h1 {
  padding-bottom: 1%;
  font-weight: 700;
}

h5 {
  font-weight: 600;
}
.card-text{
  text-align: justify;
  font-size: 0.9rem;
}
.drop1{
  padding-left: 70px;
}

#favorite_count{
  text-align:center;
  padding: 0 0.9rem 0.1rem 0.9rem;
  border-radius: 3rem;
}

.fav1{
  content-justify: right;
}
